version: '3.8'

services:
  api1:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    dns:
      - 8.8.8.8
      - 8.8.4.4
    env_file:
      - ./.env
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@database:5432/${POSTGRES_DB}?sslmode=prefer
    expose:
      - "3000"
    depends_on:
      - database
    command: >
      sh -c "npx prisma migrate deploy && node dist/src/main.js"

  api2:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    dns:
      - 8.8.8.8
      - 8.8.4.4
    env_file:
      - ./.env
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@database:5432/${POSTGRES_DB}?sslmode=prefer
    expose:
      - "3000"
    depends_on:
      - database
    command: >
      sh -c "npx prisma migrate deploy && node dist/src/main.js"

  api3:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    dns:
      - 8.8.8.8
      - 8.8.4.4
    env_file:
      - ./.env
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@database:5432/${POSTGRES_DB}?sslmode=prefer
    expose:
      - "3000"
    depends_on:
      - database
    command: >
      sh -c "npx prisma migrate deploy && node dist/src/main.js"

  nginx:
    image: nginx:latest
    restart: always
    dns:
      - 8.8.8.8
      - 8.8.4.4
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.prod.conf:/etc/nginx/conf.d/default.conf
      - certbot_www:/var/www/certbot:ro
      - certbot_conf:/etc/letsencrypt:ro

  certbot:
    image: certbot/certbot
    dns:
      - 8.8.8.8
      - 8.8.4.4
    extra_hosts:
      - "acme-v02.api.letsencrypt.org:172.65.32.248"
    volumes:
      - certbot_www:/var/www/certbot:rw
      - certbot_conf:/etc/letsencrypt:rw
    command: "sleep infinity"

  database:
    image: postgres:15-alpine
    restart: always
    dns:
      - 8.8.8.8
      - 8.8.4.4
    volumes:
      - pgdata:/var/lib/postgresql/data
    env_file:
      - ./.env

volumes:
  pgdata:
  certbot_conf:
  certbot_www:
