version: '3.8'

services:
  # ===============================================
  # Production Services
  # ===============================================
  api1:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - DATABASE_URL=${DATABASE_URL}
    restart: unless-stopped
    env_file: .env
    networks:
      - default

  api2:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - DATABASE_URL=${DATABASE_URL}
    restart: unless-stopped
    env_file: .env
    networks:
      - default

  api3:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - DATABASE_URL=${DATABASE_URL}
    restart: unless-stopped
    env_file: .env
    networks:
      - default

  database:
    image: postgres:14-alpine
    container_name: test-deploy-api_database_1
    restart: unless-stopped
    env_file: .env
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - default

  nginx:
    image: nginx:latest
    container_name: test-deploy-api_nginx_1
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.prod.conf:/etc/nginx/conf.d/default.conf
      - certbot_www:/var/www/certbot
      - certbot_conf:/etc/letsencrypt
    depends_on:
      - api1
      - api2
      - api3
    networks:
      - default

  # ===============================================
  # Certificate Acquisition Services
  # These are not part of the main application stack.
  # ===============================================
  nginx-certbot:
    image: nginx:latest
    container_name: test-deploy-api_nginx-certbot_1
    ports:
      - "80:80"
    volumes:
      - ./nginx.certbot.conf:/etc/nginx/conf.d/default.conf
      - certbot_www:/var/www/certbot
      - certbot_conf:/etc/letsencrypt
    networks:
      - default

  certbot:
    image: certbot/certbot
    container_name: test-deploy-api_certbot_1
    volumes:
      - certbot_www:/var/www/certbot
      - certbot_conf:/etc/letsencrypt
    depends_on:
      - nginx-certbot
    networks:
      - default

volumes:
  pgdata:
  certbot_conf:
  certbot_www:

networks:
  default:
    driver: bridge
