version: '3.8'

services:
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx.certbot.conf:/etc/nginx/conf.d/default.conf
      - certbot_www:/var/www/certbot:rw

  certbot:
    image: certbot/certbot
    volumes:
      - certbot_www:/var/www/certbot:rw
      - certbot_conf:/etc/letsencrypt:rw
    depends_on:
      - nginx

volumes:
  certbot_conf:
  certbot_www:
